h1 {
  font-size: 28px;
}

h2 {
  font-size: 18px;
}

label {
  display: block;
  margin-top: 50px;
  font-size: 14px;
  color: gray;
}

input {
  margin: 14px;
  margin-bottom: 40px;
}

button {
  display: block;
  margin: 28px;
  font-size: 18px;
}

.primaryBtn {
  background-color: #bcdefa;
  color: #1c3d5a;
}

.dangerBtn {
  background-color: #e3342f;
  color: #621b18;
}

.largeInputField {
  height: 72px;
  width: 300px;
}
